.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #111010;
    z-index: 1000;

    a {
        color: #1BFD9C;
        
    }

    .navbar-toggler, .navbar-toggler-icon {
        background-color: #1BFD9C;
    }
    
}