<div class="container main-container py-5">

  <div class="col-sm-12 col-md-6 d-flex justify-content-center svg-container mb-5">

    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <linearGradient id="fill" x1="0%" y1="0%" x2="100%" y2="0%" gradientTransform="rotate(45 0.5 0.5)">
          <stop offset="0%" stop-color="#92e647"></stop>
          <stop offset="100%" stop-color="#7affb3"></stop>
        </linearGradient>
      </defs>
      <path d="M75,63.5Q66,77,50,77.5Q34,78,21,64Q8,50,17,29.5Q26,9,50,9Q74,9,79,29.5Q84,50,75,63.5Z" stroke="none"
        stroke-width="0" fill="url(#fill)"></path>
      <image xlink:href="../../../assets/én-final.png" x="30" y="-5" width="100" height="100" />
    </svg>
    <div class="hero-text-container p-2 d-flex justify-content-center">
      <p class="scale-up-center">Hello, this is me!</p>
    </div>

  </div>


  <div class="first-divider">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"></path>
    </svg>
  </div>
</div>


<!-- Section 2 -->
<div class="container about-container py-5">

  <div class="col-sm-12 col-md-6 d-flex justify-content-center mt-2 p-4 text-center">
    <h2 #textElement class="text animated-text" [ngClass]="{'tracking-in-contract': animateText}">Welcome to my
      webpage!🤗</h2>
  </div>

  <div class="col-sm-12 col-md-6 d-flex p-4 justify-content-center">
    <p #textElement class="text animated-text" [ngClass]="{'tracking-in-contract': animateText}">Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Unde omnis repellendus quas expedita blanditiis facere
      consectetur dolorem amet esse? Obcaecati maxime eveniet blanditiis suscipit voluptatibus aspernatur illum minus
      fuga asperiores.</p>
  </div>
  <div class="second-divider">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"></path>
    </svg>
  </div>

</div>

<!-- Section 3 -->
<div class="container projects-container py-5">

  <div class="col-sm-12 col-md-6 d-flex justify-content-center mt-2 p-4 text-center">
    <h2 #textElementSecond class="text animated-text" [ngClass]="{'tracking-in-contract-second': animateTextSecond}">
      ASDD</h2>
  </div>

  <div class="col-sm-12 col-md-6 d-flex p-4 justify-content-center">
    <p #textElementSecond class="text animated-text" [ngClass]="{'tracking-in-contract-second': animateTextSecond}">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde omnis repellendus quas expedita blanditiis
      facere consectetur dolorem amet esse? Obcaecati maxime eveniet blanditiis suscipit voluptatibus aspernatur illum
      minus fuga asperiores.</p>
  </div>

  <div class="col-sm-12 col-md-6 d-flex p-4 justify-content-center">
    <button #textElementSecond class="text animated-text" [ngClass]="{'tracking-in-contract-second': animateTextSecond}"
      class="projects-button">My projects</button>
  </div>


  <div class="third-divider">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
        class="shape-fill"></path>
    </svg>
  </div>

</div>

<!-- To the top button -->
<button id="toTopBtn" (click)="scrollToTop()" [style.display]="showToTopButton ? 'block' : 'none'">
  <svg width="50px" height="50px" viewBox="-3 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" transform="matrix(1, 0, 0, 1, 0, 0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="icomoon-ignore"> </g> <path d="M26.221 16c0-7.243-5.871-13.113-13.113-13.113s-13.113 5.87-13.113 13.113c0 7.242 5.871 13.113 13.113 13.113s13.113-5.871 13.113-13.113zM1.045 16c0-6.652 5.412-12.064 12.064-12.064s12.064 5.412 12.064 12.064c0 6.652-5.411 12.064-12.064 12.064-6.652 0-12.064-5.412-12.064-12.064z" fill="#1BFD9C"> </path> <path d="M18.746 15.204l0.742-0.742-6.379-6.379-6.378 6.379 0.742 0.742 5.112-5.112v12.727h1.049v-12.727z" fill="#1BFD9C"> </path> </g></svg>
</button>